<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>요청 주소 파라미터</h1>
    <a href="test1">test1 요청</a><br>
    <a href="test1/sub1">test1/sub1</a><br>
    <a href="test1/sub2">test1/sub2</a><br>
    <a href="test1/10">test1/10</a><br>
    <a href="test1/20">test1/20</a><br>
    <a href="test2/100/200">test2/100/200</a><br>
    <a href="test2/300/400">test2/300/400</a><br>

    <a href="test3">test3</a><br>
    <a href="test4">test4</a><br>

    <a href="test5">test5</a><br>
    <a href="test5/100">test5/data1</a><br>
    <a href="test5/100/200">test5/data1/data2</a><br>
</body>
</html>