<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>단락</h1>
    <!--
    웹 브라우저는 띄어쓰기를 많이 하거나 밑으로 내려서 작성하면 하나 한 것으로 취급한다.
    HTML 태그는 화면 구성 후 밑으로 내려주는 태그와 그렇지 않은 태그로 구분한다.
    -->
    동해물과 백두산이<br/>
    마르고 닳도록<br/>
    <hr/>

    <!--    에스케이프 문자-->
    동해물과 &acd;s            백두산이<br/>
    &gt; &lt; &bbrktbrk; 문자열 &biguplus;
    <hr>

    <!--    단락-->
    <p>동해물과 백두산이</p>
    <p>마르고 닳도록</p>
    <p>하느님이 보우하사</p>
    <p>우리나라 만세</p>
    <hr>

    <!--작성한대로 보이게 하기-->
    <pre>
        동해물과 백두산이
        마르고 닳도록
        하느님이 보우하사
        우리나라 만세
    </pre>

</body>
</html>