<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>링크</h1>
    <!--사용자가 클릭하면 설정된 주소를 요청하는 요소-->
    <!--href = 브라우저가 요청할 주소-->
    <!--href에 설정된 주소나 http나 https가 붙어 있다면 다른 서버를 찾아 요청한다.-->
    <a href="http://google.com">구글</a><br>

    <!--http(https)등이 붙어있지 않다면 같은 서버에 요청하게 된다.-->
                                                        <!--다른서버에 있는걸 쓸 때는 꼭 http 붙여주셔야 해요-->
    <a href="googe.com">구글2</a><br>

    <!--요청 부분은 어떤걸로 개발하느냐에 따라 달라진다-->
    <!--같은 서버에 요청-->
    <a href="/">첫 페이지 요청</a><br>
    <!--다른 페이지 요청-->
    <a href="01_basic">다른 페이지 요청</a><br>

    <!--타겟 : 요청한 페이지가 어떤 탭에 나타나게 하느냐를 지정한다.-->
<!--    target을 지정하지 않으면 _self로 설정된다. 같은 탭에 페이지가 나타난다 -->
    <a href="01_basic">타겟없음</a><br>
<!--    같은 탭에 페이지가 나타난다.-->
    <a href="01_basic" target="_self">_self</a><br>
<!--    새로운 탭에 나타난다.-->
    <a href="01_basic" target="_blank">_blank</a><br>
<!--    최초에는 새로운 탭이 뜨고 그 이후에는 같은 탭에 나타난다. abcd부분은 이름 이고 자유롭게 변경 가능하다-->
    <a href="01_basic" target="abcd">abcd</a><br>

<!--    id 속성에 test가 들어있는 태그쪽으로 이동한다.-->

    <a href="#test">id가 test인 태그로 이동</a><br>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p id="test">test</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>
    <p>문자열</p>


</body>
</html>