<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>JavaScript 기본</h1>
    <script>
        // 한 줄 주석
        /* 여러 줄 주석
            입니다.
            주석은 실행시에 브라우저에 의해 무시된다.
        */

        // 변수선언
        var a1 = 100

        // 콘솔출력
        console.log('a1 : ' + a1)

        // JavaScript 함수
        function test(v1, v2){
            console.log('v1 : ' + v1)
            console.log('v2 : ' + v2)

            return v1 + v2
        }

        var r1 = test(100,200)
        var r2 = test(1000,2000)
        console.log('r1 : ' + r1)
        console.log('r12: ' + r2)

    </script>
</body>
</html>