<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>동물 정보 추가</h1>
    <form action="animal_info_add_pro" method="post">
        동물 종류 : <select name="animal_type">
            <option value="dog">강아지</option>
            <option value="cat">고양이</option>
            <option value="bird">새</option>
    </select><br>
        동물 이름 : <input type="text" name="animal_name" autofocus="autofocus"><br>
        동물 나이 : <input type="number" name="animal_age"><br>
        동물 몸무게 : <input type="number" name="animal_weight"><br>
        <button type="submit">저장</button>
    </form>
    <h3><a href="/">메인 화면</a></h3>
</body>
</html>